@media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }

/**---------------HEADER-----------------*/
.header-container {
  max-width: 1128px;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-link-address {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*-------------------------------HERO----------------------------*/

.first-section {
    padding-top: 188px;
    padding-bottom: 188px;
    align-items: center;
    margin: 0 auto;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop@x1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-desktop@x2.jpg);
    }
  }

  .first-header {
    font-family: 'Roboto';
   font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    
  }
/*-----------second-section-----------*/
.second-section {
  padding-top: 120px;
    padding-bottom: 120px;
}
.description-container {
  display: flex;
}
  .icon-description-list {
    display: flex;
      gap: 24px;
  }

.icon-description-item {
  width: calc((100% - 72px) / 4);
}

.icon-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: #f4f4fd; 
}
.description-text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.description-name {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
 
/* ---------------------fourth-section------------------------- */
.img-list-container {
  padding: 0 15px;
}
.img-list {
display: flex;
gap: 24px;
}
.first-img {
  border-radius: 0px 0px 4px 4px; 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
  rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  /* width: 100%; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 /* --------------------------------CUSTOMERS--------------------------------------------- */
 .customers-cont {
  padding: 0 15px;
}

.container-item{
  width: calc((100% - 80px) / 6);
}
/* -------------------------------FOOTER----------------------------------------------- */
 .footer-main {
     width: 1128px;
     padding: 0 15px;
     justify-content: space-between;
     background: #2e2f42;
 }

}
