@media screen and (min-width: 768px) {
    .container {
      max-width: 766px;
    }

  
  /**------------------HERO------------------*/

  .first-section {
    padding-top: 112px;
    padding-bottom: 112px;
    align-items: center;
    margin: 0 auto;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg-tablet@x1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) 
    {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tablet@x2.jpg);
    }
    
  }

  .first-header {
    width: 496px;
    margin-bottom: 36px;
  }
  /*----------second-section-----------*/

  .icon-description-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .description-text {
    justify-content: flex-start;
  }
  .description-name {
    width: 356px;
  }
  .description-active {
    width: calc((100% - 24px) / 2);
  }
}