@media screen and (min-width: 768px) {
    .container {
      max-width: 766px;
    }
/*------------------ HEADER------------------- */
.header-logo {
  margin-right: 76px;
}

.header-list {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-link {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--transition);

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-link.current {
  color: #404bbf;
}
.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform var(--transition);
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-link:hover:after,
.header-link:focus:after,
.header-link.current:after {
  transform: scaleX(1);

  -webkit-animation: my-animation 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite both;
  animation: my-animation 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    both;
}
.header-address {
  display: flex;
  margin-left: auto;
  font-style: normal;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header-link-address {
  display: block;
  transition: color var(--transition);

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
}
.header-link-address:hover,
.header-link-address:focus {
  color: #404bbf;
}

.hamburger-btn {
  display: none;
}

.mobile-menu {
  display: none;
}
  /**------------------HERO------------------*/

  .first-section {
    padding-top: 112px;
    padding-bottom: 112px;
    align-items: center;
    margin: 0 auto;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg-tablet@x1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) 
    {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tablet@x2.jpg);
    }
    
  }

  .first-header {
    width: 496px;
    margin-bottom: 36px;
  }
  /*----------second-section-----------*/
 
  .icon-description-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    }

  .description-text {
    justify-content: flex-start;
  }

  .description-name {
    width: 356px;
  }
  
  .icon-description-item {
    width: calc((100% - 24px) / 2);
  }
  /* -----------------------fourth-section------------------------------------------------- */

/* .fourth-section{
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #F4F4FD
} */
.img-list-container {
  padding: 0 108px;
}
        /* ============Our Team============*/
/* .third-header {
font-weight: 700; 
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
background-color: #F4F4FD;
color: #2E2F42;
} */
.img-list {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  background-color: #F4F4FD;
}
.first-img {
  border-radius: 0px 0px 4px 4px; 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
  rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #FFFFFF;
  width: calc((100% - 24px) / 2);
  /* width: 100%; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 /* --------------------------------CUSTOMERS--------------------------------------------- */
 .customers-cont {
  padding: 0 108px;
}

.container-item{
  width: calc((100% - 32px) / 3);
}

/* -------------------------------FOOTER----------------------------------------------- */
.footer{
 padding: 100px 0;
}

.footer-main {
  display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 108px;
    background: #2e2f42;
}
.footer-container {
  margin-bottom: 0;
}

.footer-logo{
  justify-content: start;
}


/* --------------------------footer-soc-list------------------------------------- */

.footer-links {
  margin-bottom: 0;
}

.footer-soc-text {
  justify-content: start;
}



.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: row;
  }

  /* label */
  /* .footer-input-label-icon {
    display: flex;
    justify-content: center;
  } */
        /* input */
  .footer-input-label {
   width: 264px;
  }
  




}