@media screen and (min-width: 768px) {
    .container {
      max-width: 766px;
    }

  
  /**------------------HERO------------------*/

  .first-section {
    padding-top: 112px;
    padding-bottom: 112px;
    align-items: center;
    margin: 0 auto;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/bg-tablet@x1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) 
    {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tablet@x2.jpg);
    }
    
  }

  .first-header {
    width: 496px;
    margin-bottom: 36px;
  }
  /*----------second-section-----------*/
 
  .icon-description-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    }

  .description-text {
    justify-content: flex-start;
  }

  .description-name {
    width: 356px;
  }
  
  .icon-description-item {
    width: calc((100% - 24px) / 2);
  }
  /* --------------------------------fourth-section------------------------------------------------- */

/* .fourth-section{
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #F4F4FD
} */
.img-list-container {
  padding: 0 108px;
}
        /* ============Our Team============*/
/* .third-header {
font-weight: 700; 
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
background-color: #F4F4FD;
color: #2E2F42;
} */
.img-list {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  background-color: #F4F4FD;
}
.first-img {
  border-radius: 0px 0px 4px 4px; 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
  rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #FFFFFF;
  width: calc((100% - 24px) / 2);
  /* width: 100%; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 /* --------------------------------CUSTOMERS--------------------------------------------- */
 .customers-cont {
  padding: 0 108px;
}

.container-item{
  width: calc((100% - 32px) / 3);
}

/* -------------------------------FOOTER----------------------------------------------- */
.footer{
 padding: 100px 0;
}

.footer-main {
  display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 108px;
    background: #2e2f42;
}
.footer-container {
  margin-bottom: 0;
}

.footer-logo{
  justify-content: start;
}


/* --------------------------footer-soc-list------------------------------------- */

.footer-links {
  margin-bottom: 0;
}

.footer-soc-text {
  justify-content: start;
}



.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: row;
  }
  
  /* label */
  /* .footer-input-label-icon {
    display: flex;
    justify-content: center;
  } */
        /* input */
  .footer-input-label {
   width: 264px;
  }
  




}